@import 'tailwindcss';

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2); /* グラデーションの背景色 */
}